/*Версия 20130909*/

/*Форма:*/

.x-window-body-default {
  border-color: #99bbe8;
  border-width: 1px;
  background: #F5F2DD;/*#dfe8f6;*/
  color: black; }

/*Меню:*/
.x-menu-body {
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  cursor: default;
  background: #FFFBF0 !important;
  padding: 2px; }

/*Шрифт формы*/
.x-body {
  color: black;
  font-size:  8px; /*12px;*/
  /*font-family: tahoma, arial, verdana, sans-serif; }*/ /*так было*/
  font-family: MS Shell Dlg, arial, verdana, sans-serif; }
/*Панель*/

.x-panel-body-default {
  background: #FFFBF0;/*white;*/
  border-color: #FFFBF0; /*#99bce8;*/
  color: black;
  border-width: 1px;
  border-style: solid; }

/*Переключатели*/
.x-form-checkbox,
.x-form-radio {
  vertical-align: -1px;
  width: 13px;
  height: 13px;
  background: #F5F2DD;/*no-repeat;*/
  background-image: url('../../resources/themes/images/default/form/checkbox.gif');
  overflow: hidden;
  padding: 0;
  border: 0; }

textarea.x-form-field {
  padding: 1px 3px;
  background: repeat-x 0 0;
  border: 1px solid;
  background-color: white;
  background-image: url('../../resources/themes/images/default/form/text-bg.gif');
  border-color: #b5b8c8; }

/* Тулбары */
.x-toolbar-default {
  border-color: #99bce8;
  background-image: none;
  background-color: #F5F2DD;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F5F2DD), color-stop(100%, #F5F2DD));
  background-image: -webkit-linear-gradient(top, #F5F2DD, #F5F2DD);
  background-image: -moz-linear-gradient(top, #F5F2DD, #F5F2DD);
  background-image: -o-linear-gradient(top, #F5F2DD, #F5F2DD);
  background-image: linear-gradient(top, #F5F2DD, #F5F2DD); }

/* Надписи формы */
.x-panel-body {
  overflow: hidden;
  position: relative;
  font-size: 11px; }

/* текстовые поля формы*/
.x-form-field,
.x-form-display-field {
  margin: 0 0 0 0;
  font: normal 11px MS Shell Dlg, arial, verdana, sans-serif;
  color: black; }

/*Окно (переферические параметры)*/
.x-window-default {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 2px 2px 2px 2px;
  border-width: 1px;
  border-style: solid;
  background-color: #C0C0C0; }

/* Окно (Заголовок) */
.x-window-header-default-top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 4px 5px 0 5px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  background-color: #C0C0C0; }/*ced9e7*/

/* рамка */
.x-fieldset-header {
  font: 11px/14px bold tahoma, arial, verdana, sans-serif;
  /*text-decoration: underline;*/
  color: #9F6500;
  padding: 0 0px 0px;
  overflow: hidden; }

 /*//////////////////////////////////////////////////////// begin КОМБОБОКС (combobox)/////////////////////////////////////////////////////////////*/  
 /*высота комбобокса (без кнопки)*/  
.x-border-box .x-form-text {
  height: 19px; }
/* Высота кнопки комбобокса*/
.x-border-box .x-form-trigger {
  height: 19px; }
 /*////////////////////////////////////////////////////////end КОМБОБОКС (combobox)/////////////////////////////////////////////////////////////*/  

 /*////////////////////////////////////////////////////////begin Столбцы грида//////////////////////////////////////////////////////////////////*/  
.x-column-header {
  padding: 0;
  position: absolute;
  overflow: hidden;
  border-right: 1px solid #c5c5c5;
  border-left: 0 none;
  border-top: 0 none;
  border-bottom: 0 none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  font: normal 11px tahoma, arial, verdana, sans-serif;
  background-image: none;
  background-color: #F5F2DD;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #F5F2DD));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #F5F2DD);
  background-image: -moz-linear-gradient(top, #f9f9f9, #F5F2DD);
  background-image: -o-linear-gradient(top, #f9f9f9, #F5F2DD);
  background-image: linear-gradient(top, #f9f9f9, #F5F2DD); }

/*////////////////////////////////////////////////////////end Столбцы грида///////////////////////////////////////////////////////////////////*/  

/*Перечень кнопок для меню*/

/*Добавить*/
.x-add {
  background-image: url('images/default/menu/ico/add.gif'); }
/*ПометканаУдаление*/
.x-MarkToDelete {
  background-image: url('images/default/menu/ico/MarkToDelete.gif'); }
/*ИзменитьЭлемент*/
.x-Change {
  background-image: url('images/default/menu/ico/Change.gif'); }
/*Скопировать*/
.x-copy {
  background-image: url('images/default/menu/ico/copy.gif'); }
/*Обновить*/
.x-Refresh {
  background-image: url('images/default/menu/ico/Refresh.gif'); }
/*ОтборПоТекущемуЗначению*/
.x-FilterByCurrentValue {
  background-image: url('images/default/menu/ico/FilterByCurrentValue.gif'); }
/*Просмотр ПоВладельцу*/
.x-ViewByOwner {
  background-image: url('images/default/menu/ico/ViewByOwner.gif'); }
/*Отбор_И_Компановка*/
.x-DataCompositionFilter {
  background-image: url('images/default/menu/ico/DataCompositionFilter.gif'); }
/*ОтборИ_Сортировка*/
.x-FilterAndSort {
  background-image: url('images/default/menu/ico/FilterAndSort.gif'); }
/*Справка*/
.x-Help {
  background-image: url('images/default/menu/ico/Help.gif'); }
/*Настройка Списка*/
.x-ListSettings {
  background-image: url('images/default/menu/ico/ListSettings.gif'); }
/*Закрыть*/
.x-Close {
  background-image: url('images/default/menu/ico/Close.gif'); }
/*Вывести Список*/
.x-OutputList {
  background-image: url('images/default/menu/ico/OutputList.gif'); }
/*Удалить*/
.x-Delete {
  background-image: url('images/default/menu/ico/Delete.gif'); }
/*УровеньВверх*/
.x-PageUp {
  background-image: url('images/default/menu/ico/PageUp.gif'); }
/*УровеньВниз*/
.x-PageDown {
  background-image: url('images/default/menu/ico/PageDown.gif'); }
/*ОткрытьФайл*/
.x-OpenFile {
  background-image: url('images/default/menu/ico/OpenFile.gif'); }
/*ИерархическийПросмотр*/
.x-HierarchicalView {
  background-image: url('images/default/menu/ico/HierarchicalView.gif'); }
/*ПеренестиЭлемент*/
.x-MoveItem {
  background-image: url('images/default/menu/ico/MoveItem.gif'); }
/*Записать*/
.x-SaveFile {
  background-image: url('images/default/menu/ico/SaveFile.gif'); }
/*Очистить*/
.x-Clean {
  background-image: url('images/default/menu/ico/Clean.gif'); }
/*СортироватьСписокПоВозрастанию*/
.x-SortListAsc {
  background-image: url('images/default/menu/ico/SortListAsc.gif'); }

/*СортироватьПоУбыванию*/
.x-SortListDesc {
  background-image: url('images/default/menu/ico/SortListDesc.gif'); }

/*ОтключитьОтбор*/
.x-ClearFilter {
  background-image: url('images/default/menu/ico/ClearFilter.gif'); }

/*Обновить*/
.x-Refresh {
  background-image: url('images/default/menu/ico/Refresh.gif'); }

/*Сортировка*/
.x-Sort {
  background-image: url('images/default/menu/ico/Sort.gif'); }


/* Добавим кнопку выбора (Выбрать)*/
.x-form-select-trigger {
  background-image: url('images/default/menu/ico/select-trigger.gif'); }


/*ПереместитьВверх*/
.x-MoveUp {
  background-image: url('images/default/menu/ico/MoveUp.gif'); }

/*ПереместитьВниз*/
.x-MoveDown {
  background-image: url('images/default/menu/ico/MoveDown.gif'); }

/*ЗакончитьРедактирование*/
.x-EndEdit {
  background-image: url('images/default/menu/ico/EndEdit.gif'); }

/*НайтиВСписке*/
.x-FindInList {
  background-image: url('images/default/menu/ico/FindInList.gif'); }

/*Перечитать*/
.x-Reread {
  background-image: url('images/default/menu/ico/Reread.gif'); }

/*ЗаписатьИЗакрыть*/
.x-WriteAndClose {
  background-image: url('images/default/menu/ico/WriteAndClose.gif'); }

/*НоваяГруппа*/
.x-CreateFolder {
  background-image: url('images/default/menu/ico/CreateFolder.gif'); }

/*РедактироватьВДиалоге*/
.x-EditInDialog {
  background-image: url('images/default/menu/ico/EditInDialog.gif'); }

/*ИсторияОтборов*/
.x-FilterHistory {
  background-image: url('images/default/menu/ico/FilterHistory.gif'); }

/*ПросмотрПоВладельцу*/
.x-ViewByOwner {
  background-image: url('images/default/menu/ico/ViewByOwner.gif'); }

/*Выбрать*/
.x-Select {
  background-image: url('images/default/menu/ico/Select.gif'); }

/*Сортировка*/
.x-Sort {
  background-image: url('images/default/menu/ico/Sort.gif'); }
/*ОтключитьОтбор*/
.x-OtkluchitOtbor {
  background-image: url('images/default/menu/ico/OtkluchitOtbor.gif'); }

/*ПоискПоНомеру*/
.x-FindByNumber {
  background-image: url('images/default/menu/ico/FindByNumber.gif'); }

/*УстановитьИнтервал*/
.x-SetDateInterval {
  background-image: url('images/default/menu/ico/SetDateInterval.gif'); } 

/*Провести*/
.x-Post {
  background-image: url('images/default/menu/ico/Post.gif'); } 

/*ОтменаПроведения*/
.x-UndoPosting {
  background-image: url('images/default/menu/ico/UndoPosting.gif'); } 
                                                                            
/*УстановитьВремя*/
.x-SetTime {
  background-image: url('images/default/menu/ico/SetTime.gif'); } 

/*ХранилищеНастроек*/.x-SettingsStorage { background-image: url('images/default/menu/ico/SettingsStorage.gif'); }
/*УсловноеОформлениеКомпоновкиДанныхНедоступное*/.x-DataCompositionConditionalAppearanceDisabled { background-image: url('images/default/menu/ico/DataCompositionConditionalAppearanceDisabled.gif'); }
/*УсловноеОформлениеКомпоновкиДанных*/.x-DataCompositionConditionalAppearance { background-image: url('images/default/menu/ico/DataCompositionConditionalAppearance.gif'); }
/*ПереместитьВправо*/.x-MoveRight { background-image: url('images/default/menu/ico/MoveRight.gif'); }
/*ПереместитьВлево*/.x-MoveLeft { background-image: url('images/default/menu/ico/MoveLeft.gif'); }
/*ПечатьСразу*/.x-PrintImmediately { background-image: url('images/default/menu/ico/PrintImmediately.gif'); }
/*Перечисление*/.x-Enum { background-image: url('images/default/menu/ico/Enum.gif'); }
/*УстановитьФлажки*/.x-CheckAll { background-image: url('images/default/menu/ico/CheckAll.gif'); }
/*УдалитьНепосредственно*/.x-DeleteDirectly { background-image: url('images/default/menu/ico/DeleteDirectly.gif'); }
/*ТабличныйДокументУдалитьРазрывСтраницы*/.x-SpreadsheetDeletePageBreak { background-image: url('images/default/menu/ico/SpreadsheetDeletePageBreak.gif'); }
/*ТабличныйДокументУдалитьПримечание*/.x-SpreadsheetDeleteComment { background-image: url('images/default/menu/ico/SpreadsheetDeleteComment.gif'); }
/*ТабличныйДокументТолькоПросмотр*/.x-SpreadsheetReadOnly { background-image: url('images/default/menu/ico/SpreadsheetReadOnly.gif'); }
/*ТабличныйДокументОтображатьСетку*/.x-SpreadsheetShowGrid { background-image: url('images/default/menu/ico/SpreadsheetShowGrid.gif'); }
/*ТабличныйДокументОтображатьПримечания*/.x-SpreadsheetShowComments { background-image: url('images/default/menu/ico/SpreadsheetShowComments.gif'); }
/*ТабличныйДокументОтображатьЗаголовки*/.x-SpreadsheetShowHeaders { background-image: url('images/default/menu/ico/SpreadsheetShowHeaders.gif'); }
/*ТабличныйДокументОтображатьГруппировки*/.x-SpreadsheetShowGroups { background-image: url('images/default/menu/ico/SpreadsheetShowGroups.gif'); }
/*ТабличныйДокументВставитьРазрывСтраницы*/.x-SpreadsheetInsertPageBreak { background-image: url('images/default/menu/ico/SpreadsheetInsertPageBreak.gif'); }
/*ТабличныйДокументВставитьПримечание*/.x-SpreadsheetInsertComment { background-image: url('images/default/menu/ico/SpreadsheetInsertComment.gif'); }
/*СформироватьОтчет*/.x-GenerateReport { background-image: url('images/default/menu/ico/GenerateReport.gif'); }
/*Форма*/.x-Form { background-image: url('images/default/menu/ico/Form.gif'); }
/*СтартБизнесПроцесса*/.x-BusinessProcessStart { background-image: url('images/default/menu/ico/BusinessProcessStart.gif'); }
/*СтандартнаяНастройкаКомпоновкиДанных*/.x-DataCompositionStandardSettings { background-image: url('images/default/menu/ico/DataCompositionStandardSettings.gif'); }
/*Справочник*/.x-Catalog { background-image: url('images/default/menu/ico/Catalog.gif'); }
/*СохранитьНастройкиОтчета*/.x-SaveReportSettings { background-image: url('images/default/menu/ico/SaveReportSettings.gif'); }
/*СохранитьЗначения*/.x-SaveValues { background-image: url('images/default/menu/ico/SaveValues.gif'); }
/*СортироватьСписок*/.x-SortList { background-image: url('images/default/menu/ico/SortList.gif'); }
/*СоздатьНачальныйОбраз*/.x-CreateInitialImage { background-image: url('images/default/menu/ico/CreateInitialImage.gif'); }
/*СнятьФлажки*/.x-UncheckAll { background-image: url('images/default/menu/ico/UncheckAll.gif'); }
/*Следующий*/.x-Next { background-image: url('images/default/menu/ico/Next.gif'); }
/*СкопироватьОбъект*/.x-CloneObject { background-image: url('images/default/menu/ico/CloneObject.gif'); }
/*СинтаксическийКонтроль*/.x-CheckSyntax { background-image: url('images/default/menu/ico/CheckSyntax.gif'); }
/*Символ*/.x-Char { background-image: url('images/default/menu/ico/Char.gif'); }
/*Свойства*/.x-Properties { background-image: url('images/default/menu/ico/Properties.gif'); }
/*СводнаяДиаграмма*/.x-PivotChart { background-image: url('images/default/menu/ico/PivotChart.gif'); }
/*СвернутьВсе*/.x-CollapseAll { background-image: url('images/default/menu/ico/CollapseAll.gif'); }
/*РежимПросмотраСпискаСписок*/.x-ListViewModeList { background-image: url('images/default/menu/ico/ListViewModeList.gif'); }
/*РежимПросмотраСпискаИерархическийСписок*/.x-ListViewModeHierarchicalList { background-image: url('images/default/menu/ico/ListViewModeHierarchicalList.gif'); }
/*РежимПросмотраСпискаДерево*/.x-ListViewModeTree { background-image: url('images/default/menu/ico/ListViewModeTree.gif'); }
/*РежимПросмотраСписка*/.x-ListViewMode { background-image: url('images/default/menu/ico/ListViewMode.gif'); }
/*РегламентноеЗадание*/.x-ScheduledJob { background-image: url('images/default/menu/ico/ScheduledJob.gif'); }
/*РегистрСведений*/.x-InformationRegister { background-image: url('images/default/menu/ico/InformationRegister.gif'); }
/*РегистрРасчета*/.x-CalculationRegister { background-image: url('images/default/menu/ico/CalculationRegister.gif'); }
/*РегистрНакопления*/.x-AccumulationRegister { background-image: url('images/default/menu/ico/AccumulationRegister.gif'); }
/*РегистрБухгалтерии*/.x-AccountingRegister { background-image: url('images/default/menu/ico/AccountingRegister.gif'); }
/*РазвернутьВсе*/.x-ExpandAll { background-image: url('images/default/menu/ico/ExpandAll.gif'); }
/*ПрочитатьИзменения*/.x-ReadChanges { background-image: url('images/default/menu/ico/ReadChanges.gif'); }
/*Предыдущий*/.x-Previous { background-image: url('images/default/menu/ico/Previous.gif'); }
/*ПорядокКомпоновкиДанныхНедоступный*/.x-DataCompositionOrderDisabled { background-image: url('images/default/menu/ico/DataCompositionOrderDisabled.gif'); }
/*ПорядокКомпоновкиДанных*/.x-DataCompositionOrder { background-image: url('images/default/menu/ico/DataCompositionOrder.gif'); }
/*АктивироватьЗадачу*/.x-ActivateTask { background-image: url('images/default/menu/ico/ActivateTask.gif'); }
/*АктивныеПользователи*/.x-ActiveUsers { background-image: url('images/default/menu/ico/ActiveUsers.gif'); }
/*БизнесПроцесс*/.x-BusinessProcess { background-image: url('images/default/menu/ico/BusinessProcess.gif'); }
/*ВводНаОсновании*/.x-InputOnBasis { background-image: url('images/default/menu/ico/InputOnBasis.gif'); }
/*ВидРасчета*/.x-CalculationType { background-image: url('images/default/menu/ico/CalculationType.gif'); }
/*ВнешнийИсточникДанных*/.x-ExternalDataSource { background-image: url('images/default/menu/ico/ExternalDataSource.gif'); }
/*ВнешнийИсточникДанныхТаблица*/.x-ExternalDataSourceTable { background-image: url('images/default/menu/ico/ExternalDataSourceTable.gif'); }
/*ВосстановитьЗначения*/.x-RestoreValues { background-image: url('images/default/menu/ico/RestoreValues.gif'); }
/*Вперед*/.x-Forward { background-image: url('images/default/menu/ico/Forward.gif'); }
/*ВыборКомпоновкиДанных*/.x-DataCompositionSelection { background-image: url('images/default/menu/ico/DataCompositionSelection.gif'); }
/*ВыборКомпоновкиДанныхНедоступный*/.x-DataCompositionSelectionDisabled { background-image: url('images/default/menu/ico/DataCompositionSelectionDisabled.gif'); }
/*ВыбратьВерхнийУровень*/.x-ChooseTopLevel { background-image: url('images/default/menu/ico/ChooseTopLevel.gif'); }
/*ВыбратьТип*/.x-ChooseType { background-image: url('images/default/menu/ico/ChooseType.gif'); }
/*ВывестиСписок*/.x-OutputList { background-image: url('images/default/menu/ico/OutputList.gif'); }
/*ВыполнитьЗадачу*/.x-ExecuteTask { background-image: url('images/default/menu/ico/ExecuteTask.gif'); }
/*ГеографическаяСхема*/.x-GeographicalSchema { background-image: url('images/default/menu/ico/GeographicalSchema.gif'); }
/*ГрафическаяСхема*/.x-GraphicalSchema { background-image: url('images/default/menu/ico/GraphicalSchema.gif'); }
/*Дебет*/.x-Debit { background-image: url('images/default/menu/ico/Debit.gif'); }
/*ДебетКредит*/.x-DebitCredit { background-image: url('images/default/menu/ico/DebitCredit.gif'); }
/*Дендрограмма*/.x-Dendrogram { background-image: url('images/default/menu/ico/Dendrogram.gif'); }
/*Диаграмма*/.x-Chart { background-image: url('images/default/menu/ico/Chart.gif'); }
/*ДиаграммаГанта*/.x-GanttChart { background-image: url('images/default/menu/ico/GanttChart.gif'); }
/*ДобавитьВИзбранное*/.x-AddToFavorites { background-image: url('images/default/menu/ico/AddToFavorites.gif'); }
/*Документ*/.x-Document { background-image: url('images/default/menu/ico/Document.gif'); }
/*ЖурналДокументов*/.x-DocumentJournal { background-image: url('images/default/menu/ico/DocumentJournal.gif'); }
/*ЖурналРегистрации*/.x-EventLog { background-image: url('images/default/menu/ico/EventLog.gif'); }
/*ЖурналРегистрацииПоПользователю*/.x-EventLogByUser { background-image: url('images/default/menu/ico/EventLogByUser.gif'); }
/*ЗагрузитьНастройкиОтчета*/.x-LoadReportSettings { background-image: url('images/default/menu/ico/LoadReportSettings.gif'); }
/*Задача*/.x-Task { background-image: url('images/default/menu/ico/Task.gif'); }
/*Заменить*/.x-Replace { background-image: url('images/default/menu/ico/Replace.gif'); }
/*ЗаписатьИзменения*/.x-WriteChanges { background-image: url('images/default/menu/ico/WriteChanges.gif'); }
/*ЗатенитьФлажки*/.x-GrayedAll { background-image: url('images/default/menu/ico/GrayedAll.gif'); }
/*ЗафиксироватьТаблицу*/.x-FixTable { background-image: url('images/default/menu/ico/FixTable.gif'); }
/*ИзменитьФорму*/.x-CustomizeForm { background-image: url('images/default/menu/ico/CustomizeForm.gif'); }
/*Календарь*/.x-Calendar { background-image: url('images/default/menu/ico/Calendar.gif'); }
/*Калькулятор*/.x-Calculator { background-image: url('images/default/menu/ico/Calculator.gif'); }
/*Картинка*/.x-Picture { background-image: url('images/default/menu/ico/Picture.gif'); }
/*Константа*/.x-Constant { background-image: url('images/default/menu/ico/Constant.gif'); }
/*КонструкторЗапроса*/.x-QueryWizard { background-image: url('images/default/menu/ico/QueryWizard.gif'); }
/*КонструкторНастроекКомпоновкиДанных*/.x-DataCompositionSettingsWizard { background-image: url('images/default/menu/ico/DataCompositionSettingsWizard.gif'); }
/*Кредит*/.x-Credit { background-image: url('images/default/menu/ico/Credit.gif'); }
/*КритерийОтбора*/.x-FilterCriterion { background-image: url('images/default/menu/ico/FilterCriterion.gif'); }
/*Лупа*/.x-Magnifier { background-image: url('images/default/menu/ico/Magnifier.gif'); }
/*Назад*/.x-Back { background-image: url('images/default/menu/ico/Back.gif'); }
/*Найти*/.x-Find { background-image: url('images/default/menu/ico/Find.gif'); }
/*НайтиВДереве*/.x-FindInTree { background-image: url('images/default/menu/ico/FindInTree.gif'); }
/*НайтиВСодержании*/.x-SyncContents { background-image: url('images/default/menu/ico/SyncContents.gif'); }
/*НайтиПредыдущий*/.x-FindPrevious { background-image: url('images/default/menu/ico/FindPrevious.gif'); }
/*НайтиСледующий*/.x-FindNext { background-image: url('images/default/menu/ico/FindNext.gif'); }
/*НастройкаСписка*/.x-ListSettings { background-image: url('images/default/menu/ico/ListSettings.gif'); }
/*НастройкиОтчета*/.x-ReportSettings { background-image: url('images/default/menu/ico/ReportSettings.gif'); }
/*НастроитьСписок*/.x-CustomizeList { background-image: url('images/default/menu/ico/CustomizeList.gif'); }
/*НоваяВложеннаяСхемаКомпоновкиДанных*/.x-DataCompositionNewNestedScheme { background-image: url('images/default/menu/ico/DataCompositionNewNestedScheme.gif'); }
/*НоваяГруппировкаКомпоновкиДанных*/.x-DataCompositionNewGroup { background-image: url('images/default/menu/ico/DataCompositionNewGroup.gif'); }
/*НоваяДиаграммаКомпоновкиДанных*/.x-DataCompositionNewChart { background-image: url('images/default/menu/ico/DataCompositionNewChart.gif'); }
/*НоваяТаблицаКомпоновкиДанных*/.x-DataCompositionNewTable { background-image: url('images/default/menu/ico/DataCompositionNewTable.gif'); }
/*НовоеОкно*/.x-NewWindow { background-image: url('images/default/menu/ico/NewWindow.gif'); }
/*Обработка*/.x-DataProcessor { background-image: url('images/default/menu/ico/DataProcessor.gif'); }
/*Остановить*/.x-Stop { background-image: url('images/default/menu/ico/Stop.gif'); }
/*ОтборКомпоновкиДанныхНедоступный*/.x-DataCompositionFilterDisabled { background-image: url('images/default/menu/ico/DataCompositionFilterDisabled.gif'); }
/*ОтборПоВиду*/.x-FilterByType { background-image: url('images/default/menu/ico/FilterByType.gif'); }
/*Отчет*/.x-Report { background-image: url('images/default/menu/ico/Report.gif'); }
/*ПараметрыВыводаКомпоновкиДанных*/.x-DataCompositionOutputParameters { background-image: url('images/default/menu/ico/DataCompositionOutputParameters.gif'); }
/*ПараметрыВыводаКомпоновкиДанныхНедоступные*/.x-DataCompositionOutputParametersDisabled { background-image: url('images/default/menu/ico/DataCompositionOutputParametersDisabled.gif'); }
/*ПараметрыДанныхКомпоновкиДанных*/.x-DataCompositionDataParameters { background-image: url('images/default/menu/ico/DataCompositionDataParameters.gif'); }
/*ПерейтиПоНавигационнойСсылке*/.x-GotoURL { background-image: url('images/default/menu/ico/GotoURL.gif'); }
/*ПереключитьАктивность*/.x-SwitchActivity { background-image: url('images/default/menu/ico/SwitchActivity.gif'); }
/*Печать*/.x-Print { background-image: url('images/default/menu/ico/Print.gif'); }
/*ПланВидовРасчета*/.x-ChartOfCalculationTypes { background-image: url('images/default/menu/ico/ChartOfCalculationTypes.gif'); }
/*ПланВидовХарактеристик*/.x-ChartOfCharacteristicTypes { background-image: url('images/default/menu/ico/ChartOfCharacteristicTypes.gif'); }
/*ПланОбмена*/.x-ExchangePlan { background-image: url('images/default/menu/ico/ExchangePlan.gif'); }
/*ПланСчетов*/.x-ChartOfAccounts { background-image: url('images/default/menu/ico/ChartOfAccounts.gif'); }
/*ПоказатьДанные*/.x-ShowData { background-image: url('images/default/menu/ico/ShowData.gif'); }
/*ПолучитьНавигационнуюСсылку*/.x-GetURL { background-image: url('images/default/menu/ico/GetURL.gif'); }
/*Пользователь*/.x-User { background-image: url('images/default/menu/ico/User.gif'); }
/*ПользовательБезНеобходимыхСвойств*/.x-UserWithoutNecessaryProperties { background-image: url('images/default/menu/ico/UserWithoutNecessaryProperties.gif'); }
/*ПользовательСАутентификацией*/.x-UserWithAuthentication { background-image: url('images/default/menu/ico/UserWithAuthentication.gif'); }
/*ПользовательскиеПоляКомпоновкиДанных*/.x-DataCompositionUserFields { background-image: url('images/default/menu/ico/DataCompositionUserFields.gif'); }
/*ПоляГруппировкиКомпоновкиДанных*/.x-DataCompositionGroupFields { background-image: url('images/default/menu/ico/DataCompositionGroupFields.gif'); }
/*ПоляГруппировкиКомпоновкиДанныхНедоступные*/.x-DataCompositionGroupFieldsDisabled { background-image: url('images/default/menu/ico/DataCompositionGroupFieldsDisabled.gif'); }


		
		
		
		
		
		